<template [ngIf]="currentObject">
    <!--<template ngFor let-automation [ngForOf]="currentList">-->
    <!--<div class="item">
        <div class="pic item_prop">
            <div class="name">{{automation.slug}}</div>
        </div>
        <div class="item_prop">
            <div class="wrap name">{{automation.description}}</div>
        </div>
        <div class="item_prop button">
            <a href="https://pluga.co{{automation.url}}">
                <div>AUTOMATIZAR</div>
            </a>
        </div>
    </div>-->

    <div class="automation-item" *ngFor="let automation of currentList">
        <div class="automation-apps-container">
            <div class="automation-app {{automation.source}}">
                <img src="https://widget.pluga.co/img/icons-tools-page/{{automation.source}}-icon.svg" alt="{{automation.slug}} - Pluga">
            </div>
            <span class="fa fa-angle-right caret"></span>
            <div class="automation-app {{automation.target}}">
                <img src="https://widget.pluga.co/img/icons-tools-page/{{automation.target}}-icon.svg" alt="{{automation.target}} - Pluga">
            </div>
        </div>
        <div class="automation-title">
            <p>{{automation.description}}</p>
        </div>
        <a class="automation-button {{currentObject.app_id}}" target="_blank" href="https://pluga.co{{automation.url}}">Automatizar</a>
    </div>

    <!--</template>-->
    <a class="button-all-autos  {{currentObject.app_id}}" target="_blank" href="https://pluga.co/ferramentas/{{_computeApiId(currentObject.app_id)}}">Ver todas as automatizações d{{_computeGenderLetter(currentObject.name)}} {{currentObject.name}}</a>
    <div class="powered-by-pluga">
        <span>feito com <i class="fa fa-heart"></i> pela</span>
        <a href="https://pluga.co/" target="_blank">
            <img alt="Pluga" class="logo" src="../../assets/img/pluga-logo-blue.svg">
        </a>
    </div>
</template>